{% extends data.outerLayout %}
{% set title = data.piece.title or data.page.title %}
{% block title %}
    {{ title }}
    {% if not title %}
        {{ apos.log('Looks like you forgot to override the title block in a template that does not have access to an Apostrophe page or piece.') }}
    {% endif %}
{% endblock %}
{% block beforeMain %}
<div class="page-container">
    <header class="header">
      <div class="container">
        <img class="logo" src="/images/logo.png" />
      </div>
    </header>
{% endblock %}
{% block main %}{% endblock %}
{% block afterMain %}
</main>
<footer class="footer">
  <div class="container">
    <p class="footer__text">
      {{ data.global.footer_text }} <a class="footer__link" href="{{ data.global._legalPageLink[0]._url }}">
      {{ data.global.footer_legalText }}
     </a>
    </p>
  </div>
</footer>
</div>
{% endblock %}

