{% set widget = data.widget %}

<div class="block" data-contact>
  <div class="contact-widget">
    <div class="container">
      <h2 class="contact-widget__title title">
        {{ widget.title }}
      </h2>
      <form class="contact-widget__form">
        <div class="contact-widget__inputs">
          <div class="contact-widget__input-container">
            <input class="contact-widget__input text-input" type="text" name="name" placeholder="Nom" />
            <span class="contact-widget__input-error"></span>
          </div>
          <div class="contact-widget__input-container">
            <input class="contact-widget__input text-input" type="text" name="email" placeholder="Adresse e-mail" />
            <span class="contact-widget__input-error"></span>
          </div>
        </div>

        <div class="contact-widget__input-container">
          <textarea class="contact-widget__input textarea-input" name="message" placeholder="Message"></textarea>
          <span class="contact-widget__input-error"></span>
        </div>
        <div class="contact-widget__btn-container">
          <input class="btn" type="submit" value="Envoi" />
        </div>
      </form>
    </div>
  </div>
</div>
