{% set widget = data.widget %}

<div class="block" data-contact data-captcha="{{ data.captcha[0] + data.captcha[1] }}">
  <div class="contact-widget">
    <div class="container">
      <h2 class="contact-widget__title title">
        {{ widget.title }}
      </h2>
      <form class="contact-widget__form">
        <div class="contact-widget__inputs">
          <div class="contact-widget__input-container">
            <input class="contact-widget__input" type="text" name="name" placeholder="Nom" />
            <span class="contact-widget__input-error"></span>
          </div>
          <div class="contact-widget__input-container">
            <input class="contact-widget__input" type="text" name="email" placeholder="Adresse e-mail" />
            <span class="contact-widget__input-error"></span>
          </div>
        </div>

        <div class="contact-widget__input-container">
          <textarea class="contact-widget__input textarea-input" name="message" placeholder="Message"></textarea>
          <span class="contact-widget__input-error"></span>
        </div>
        <div class="contact-widget__submit-container">
          <div class="contact-widget__message-container">
            <p class="contact-widget__message"></p>
          </div>

          <div class="contact-widget__btn-container">
            <label for="captcha">{{ data.captcha[0] }} + {{ data.captcha[1] }} = </label>
            <input type="text" class="contact-widget__input" name="captcha" />
            <input class="btn" type="submit" value="Envoi" />
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
