{#
  This is an example home page template. It inherits and extends a layout template
  that lives in the top-level views/ folder for convenience
#}

{% extends "layout.html" %}

{% block main %}
  <div class="home-wrapper">
    <section class="banner">
      <h1 class="banner__title">{{ data.page.title }}</h1>
      <p class="banner__description">{{ data.page.description }}</p>
      <button class="banner_btn btn">
        {{ data.page.inscription_btn }}
      </button>
    </section>
    <section class="description">
      {% area data.page, 'description_block' %}
    </section>
    <section class="inscription">
      <h1 class="banner__title">{{ data.page.title }}</h1>
      <p class="banner__description">{{ data.page.description }}</p>
      <button class="banner_btn btn">
        {{ data.page.inscription_btn }}
      </button>
    </section>
    <section class="contact">

    </section>
    <section class="map">

    </section>
  </div>
{% endblock %}
