{% extends "layout.html" %}

{% set img = apos.image.first(data.page.banner_img) %}
{% set gradient = "linear-gradient(180deg, rgb(0 0 0 / 50%) 0%, rgb(0 0 0 / 0%) 100%)" %}

{% block main %}
    <div class="home-container">
      <section class="banner" style="background-image: {{ gradient }},url({{ img._urls.original }})">
            <div class="container">
              <h1 class="banner__title">{{ data.page.title }}</h1>
              <h2 class="banner__description">{{ data.page.description }}</h2>
              <button class="banner__btn btn">{{ data.page.inscription_btn }}</button>
            </div>
        </section>
        <section class="content">
            {% area data.page, 'content' %}
        </section>
    </div>
{% endblock %}
