{% set widget = data.widget %}

<div class="text-widget">
  <div class="container">
    <h2 class="text-widget__title title">
      {{ widget.title }}
    </h2>
    <div class="text-widget__content">
      <div class="text-widget__text">
        {% area widget, 'content' %}
      </div>
      {% if widget.buttons | length %}
      <div class="text-widget__buttons">
        {% for btn in widget.buttons %}

        {% set file = apos.attachment.first(btn._files) %}
        {% set url = apos.attachment.url(file) %}
        <button class="btn">
          <a href="{{ apos.attachment.url(file) }}" target="_blank">
            {{ btn.text }}
          </a>
        </button>
        {% endfor %}
      </div>
      {% endif %}
    </div>
  </div>
</div>
