.banner {
  background-size: cover;
  background-position: 50%;
  color: #fff;

  h1,
  h2 {
    font-family: Nunito, Helvetica, Arial, Lucida, sans-serif;
    margin-top: 0;
  }

  h1 {
    font-size: 80px;
    font-weight: 600;
    margin-bottom: 30px;
  }

  h2 {
    font-size: 26px;
    font-weight: 500;
    margin-bottom: 60px;
  }

  .container {
    height: calc(100vh - 75px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }
}
